@model  DoSmart.ViewModels.ProjectFormViewModel
@{
    ViewBag.Title = @Model.PageHeader;
}

<h2>@Model.PageHeader</h2>

@using (Html.BeginForm("Create", "Projects"))
{
<div class="form-group">
    @Html.LabelFor(m => m.Title)
    @Html.TextBoxFor(m => m.Title, new { @class = "form-control", autofocus = "autofocus" })
    @Html.ValidationMessageFor(m => m.Title)
</div>
    @Html.HiddenFor(m => m.Id)
    <button class="btn btn-primary" type="submit">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}