@model List<DoSmart.Models.Activity>
@{
    ViewBag.Title = "Home Page";
}

<h2>To do Activities:</h2>
<ul>
    @foreach (var activitie in Model)
     {
        if (!activitie.Done)
        {
            <li>
                <h3>@activitie.Title</h3>
                @activitie.Creator.Name           
                <p>@activitie.Content</p>
            </li>
        }
     }
</ul>

<h2>Done Activities:</h2>
<ul>
    @foreach (var activitie in Model)
     {
        if (activitie.Done)
        {
            <li>
                <h3>@activitie.Title</h3>
                @activitie.Creator.Name
                <p>@activitie.Content</p>
            </li>
        }
     }
</ul>