@model DoSmart.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home";
}

<section class="content">    
    <div class="banner">

        <div class="banner-header"><h3>Projects</h3></div>

        <ul class="proyects-list">
            @foreach (var project in Model.Projects)
            {
                <li>
                    <a href="/Home/Index/@project.Id">@project.Title</a>
                    <button class="delete-button js-delete-project" data-project-id="@project.Id">
                        <i class="bi bi-x"></i>
                    </button>
                </li>
            }
        </ul>
        <a href="/Projects/Create"><i class="bi bi-plus-circle"></i></a>
    </div>

    <div class="details">        
        @if (Model.SelectedProjectId != 0)
        {
            <h1 style="text-align: center; font-family: Consolas">@Model.Projects.Single(p => p.Id == Model.SelectedProjectId).Title</h1>
            <a href="/Activities/Create/@Model.SelectedProjectId"><i class="bi bi-plus-square"></i></a>
        }
        @if (Model.ToDoActivities.Count() != 0 || Model.DoneActivities.Count() != 0)
         {
             <section class="activities-list">
                <h2>To do</h2>
                <hr style="width: 30%; color: black"/>
                <ul id="todo-activities">
                    @foreach (var activity in Model.ToDoActivities)
                     {
                        <li>                            
                            <input id="activity-@activity.Id" type="checkbox">
                            <label for="activity-@activity.Id" class="checkbox-button" data-activity-id="@activity.Id"></label>
                            <h4>@activity.Title</h4>
                            <i class="bi bi-exclamation-circle-fill importance-icon" style="font-size: 2rem; color: @activity.GetImportanceColor();"></i>
                            <form action="/Activities/Edit/@activity.Id">
                                <button class="edit-button js-edit-activity" type="submit">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                            </form>
                            <button class="delete-button js-delete-activity" data-activity-id="@activity.Id">
                                <i class="bi bi-x"></i>
                            </button>
                            <hr style="margin: 10px auto" />
                            <p>@activity.Content</p>
                        </li>
                     }
                </ul>
            </section>
         
            <section class="activities-list">
                <h2>Done</h2>
                <hr style="width: 30%"/>
                <ul id="done-activities">
                    @foreach (var activity in Model.DoneActivities)
                    {
                        <li>
                            <input id="activity-@activity.Id" type="checkbox" checked>
                            <label for="activity-@activity.Id" class="checkbox-button" data-activity-id="@activity.Id" activity-done="true"></label>
                            <h4>@activity.Title</h4>
                            <i class="bi bi-exclamation-circle-fill importance-icon" style="font-size: 2rem; color: @activity.GetImportanceColor();" hidden></i>
                            <form action="/Activities/Edit/@activity.Id" hidden>
                                <button class="edit-button js-edit-activity" type="submit">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                            </form>
                            <button class="delete-button js-delete-activity" data-activity-id="@activity.Id">
                                <i class="bi bi-x"></i>
                            </button>
                            <hr style="margin: 10px auto" />
                            <p>@activity.Content</p>
                        </li>
                    }
                </ul>
            </section>
         }
    </div>
</section>


@section scripts
{
    <script>
        $(document).ready(function () {
            $(".checkbox-button").click(function (e) {
                var checkbox = $(e.currentTarget);
                $.ajax({
                    url: "/api/activities/" + checkbox.attr("data-activity-id"),
                    method: "PUT"
                })
                    .done(function () {
                        checkbox.parents("li").fadeOut(1000, function () {
                            if (!checkbox.attr("activity-done")) {
                                checkbox.attr("activity-done", true);
                                $(this).prependTo($("#done-activities"));
                                $(this).children("form").attr("hidden", true);
                                $(this).children(".importance-icon").attr("hidden", true);
                                $(this).fadeTo(500, 0.5);
                            }
                            else {
                                checkbox.removeAttr("activity-done");
                                $(this).children("form").removeAttr("hidden");
                                $(this).children(".importance-icon").removeAttr("hidden");
                                $(this).prependTo($("#todo-activities"));
                                $(this).fadeTo(500, 1);
                            }
                        });
                    })
                    .fail(function () {
                        alert("Something failed!");
                    })
            })
            
            $(".js-delete-activity").click(function (e) {

                var button = $(e.currentTarget);
                Swal.fire({
                    title: 'Do you want to delete this Activity?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/api/activities/" + button.attr("data-activity-id"),
                            method: "DELETE"
                        })
                        .done(function () {
                            button.parents("li").fadeOut(function () {
                                $(this).remove();
                            });
                            Swal.fire(
                                'Deleted!',
                                'Your Activity has been deleted.',
                                'success'
                            )
                        })
                        .fail(function () {
                            alert("Something failed!");
                        })
                    }
                })
            })

            $(".js-delete-project").click(function (e) {
                var button = $(e.currentTarget);
                Swal.fire({
                    title: 'Do you want to delete this Project?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/api/projects/" + button.attr("data-project-id"),
                            method: "DELETE"
                        })
                        .done(function () {
                            button.parents("li").fadeOut(function () {
                                $(this).remove();
                            });
                            Swal.fire(
                                'Deleted!',
                                'Your Project has been deleted.',
                                'success'
                            )
                            document.querySelector('.details').remove();
                        })
                        .fail(function () {
                            alert("Something failed!");
                        })
                    }
                })                
            })
        })
    </script>
}