@model DoSmart.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<section class="content">    
    <div class="banner">

        <div class="banner-header"><h3>Proyects</h3></div>

        <ul class="proyects">
            <li>
                Develop Models
                <button class="delete-button js-delete-proyect">
                    <i class="bi bi-x"></i>
                </button>
            </li>
            <li>
                Implement Front End
                <button class="delete-button js-delete-proyect">
                    <i class="bi bi-x"></i>
                </button>
            </li>
        </ul>
        <a href="activities/create"><i class="bi bi-plus-circle"></i></a>
    </div>
    <div class="details">
        <section class="subtasks">
            <h2>To do</h2>
            <hr style="width: 30%; color: black"/>
            <ul>
                @foreach (var activity in Model)
                    {
                    if (!activity.Done)
                    {
                        <li>
                            <h4>@activity.Title</h4>
                            <button class="importance-icon">
                                <i class="bi bi-exclamation-circle-fill" style="font-size: 2rem; color: @activity.GetImportanceColor();"></i>
                            </button>
                            <form action="Activities/Edit/@activity.Id">
                                <button class="edit-button js-edit-activity" type="submit">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                            </form>
                            <button class="delete-button js-delete-activity" data-activity-id="@activity.Id">
                                <i class="bi bi-x"></i>
                            </button>
                            <hr style="margin: 10px auto" />
                            <p>@activity.Content</p>
                        </li>
                    }
                    }
            </ul>
        </section>
        <section class="subtasks">
            <h2>Done</h2>
            <hr style="width: 30%"/>
            <ul>
                @foreach (var activity in Model.Activities)
                {
                    if (activity.Done)
                    {
                        <li>
                            <h4>@activity.Title</h4>
                            <button class="delete-button js-delete-activity" data-activity-id="@activity.Id">
                                <i class="bi bi-x"></i>
                            </button>
                            <hr style="margin: 10px auto" />
                            <p>@activity.Content</p>
                        </li>
                    }
                }
            </ul>
        </section>
    </div>
</section>


@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-delete-activity").click(function (e) {
                var link = $(e.target);
                bootbox.dialog({
                    title: 'Confirm',
                    message: "Are you sure you want to delete this activity?",
                    buttons: {
                        cancel: {
                            label: "No",
                            className: 'btn-default',
                            callback: function () {
                                bootbox.hideAll();
                            }
                        },
                        ok: {
                            label: "Yes",
                            className: 'btn-danger',
                            callback: function () {
                                $.ajax({
                                    url: "/api/activities/" + link.attr("data-activity-id"),
                                    method: "DELETE"
                                })
                                    .done(function () {
                                        link.parents("li").fadeOut(function () {
                                            $(this).remove();
                                        });
                                    })
                                    .fail(function () {
                                        alert("Something failed!");
                                    });
                            }
                        }
                    }
                })
            })
        })
    </script>
}